.student_card {
  display: flex;
  width: 100%;
  padding: 4px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.student_name {
  color: #262626;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.admission_number {
  color: #626262;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.number {
  color: #626262;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
