.card_wrapper {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
}

.driver_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background: #fff;
  border: 1px solid rgba(236, 236, 236, 1);
  padding: 7px;
  background: #fff;
}

.left_section {
  display: flex;
  gap: 5px;
}
.bus_icon {
  display: flex;
  align-items: center;
}
.driver_details {
  color: #5a5a5a;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.driver_name {
  color: #262626;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.right_section {
  display: flex;
  align-items: center;
  gap: 4px;
}

.blue_divider {
  display: flex;
  width: 100%;
  padding-bottom: 2px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #e2e2e2;
  background: #3425ff;
}

.divider_text {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
