.table_container {
  background-color: #fff;
  padding:10px;
  display:flex;
  flex-direction: column;
  gap:15px;
  border-radius:6px;
}
.title {
  color: #393939;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.sub_title {
  color: #575757;
  padding-top: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

table {

  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #e5e9eb;
  overflow: hidden;
  border-bottom: none;
  background-color: #fff;
}

th {
  color: var(--Mid-Gray-Mid-Gray-3, #84919a);
  white-space: nowrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.216px;
  text-transform: uppercase;
  text-align: start;
  padding: 12px 60px 12px 10px;
  border-bottom: 1px solid #e5e9eb;
  border-left: none;
  border-right: none;
}

td {
  color: var(--Dark-Gray-Dark-Gray-2, #252c32);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.084px;
  text-transform: uppercase;
  text-align: start;
  padding: 12px 60px 12px 10px;
  border-bottom: 1px solid #e5e9eb;
  border-left: none;
  border-right: none;
}
