.transpor_details_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  width: 35%;
}

.transport_header {
  background: linear-gradient(90deg, #dad7ff 0%, rgba(218, 215, 255, 0) 100%);
  display: flex;
  border-top-left-radius: 6px;
  align-items: center;
  gap: 6px;
  padding: 0px 10px 0px 10px;
}

.header_text {
  padding: 15px 12px 18px 0px;
  color: #3425ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cost_details_box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 18px;
}

.academic_year_box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 18px;
}

.blue_line {
  padding: 10px 0px 10px 0px;
}

.transport_inside_wrapper {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.route_box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
}

.inner_header_text {
  color: #262626;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.travelIcon{
  margin-left:-8px;
}

.label_text {
  color: #515151;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.strong_text {
  color: #323232;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.transport_content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.route_text_box_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stage_icon {
  margin-left: -10px;
}
.stage_box{
  display: flex;
  flex-direction: column;
  gap:12px;
}
.stage_box_content {
  display: flex;
  gap: 10px;
}

.text_boxes {
  display: flex;
  flex-direction: column;
}
