.accordian_container {
  
}

.accordians {
    margin-top:20px;
    display:flex;
    flex-direction: column;
    gap:15px;
}
.header_text {
  color: #56555c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left:5px;
}
