.transport_container {
  width: 100%;
  display: flex;
  flex-direction:column;
  padding: 10px;
  /* gap: */
  gap:10px;
}


.main_contet_wrapper{
  width:100%;
  display:flex;
  flex-direction: row;
   gap: 15px;
   box-sizing: border-box;
}

.main_part {
  width: 72%;
  flex: 1;
  background-color: #fff;
  border-radius: 6px;
}

.accordian_part {
  width: 28%;
  background: #fff;
  padding: 15px;
  backdrop-filter: blur(2.3499999046325684px);
}

.hidden {
  display: none;
}
