.header_text {
  color: #2d2d2d;
    padding-left:6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.driver_cards{
    display: flex;
    flex-direction: column;
    gap:10px;
}